
.mtl-title{
	font-size: 62px !important;
    color: darkgoldenrod;
}

body {
	background: #041221;
}

.footer {
    background-color: #222831;
    color: lemonchiffon;
}

.mtl-login-container{
	margin: 0px 360px;
	text-align: left;
}

.mtl-dashboard-container{
	margin: 0px 280px;
	text-align: left;
}

.mtl-hidden{
	display: none;
}

.mtl-dashboard-table-column{
    font-weight: bold;
    padding-right: 60px;
}

.mtl-dashboard-row-column{
    padding-right: 57px;
    padding-left: 30px;
}

.mtl-new-task-field {
    margin-left: 10px;
    margin-right: 10px;
}